.auth-form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.auth-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.password-input {

}

.password-input input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-color);

  
  padding-right: 2.5rem; 
}

.show-password-button {

}

.show-password-button:hover {
  color: var(--text-color);
}

.auth-form button {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.auth-form button:hover {
  background-color: #4a4a4a;
}

.auth-form .error {
  color: var(--error-color);
  margin-top: 1rem;
}
