/* src/Components/Header/Header.css */

/* Add any specific styles for your Header here */
.header {
  background-color: rgb(99, 95, 95); /* Darker background for header */
  color: white;
  padding: 10px;
  text-align: center;
}
